.focus {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 6rem 0;
    max-width: 80rem;
    margin: 0 auto;
}

.read {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: rgb(13, 156, 144);
}

.read svg {
    width: auto;
    margin: 0;
}

.focus-container {
    padding: 0px 1rem 1rem 1rem;
    text-align: left;
}
.focus-container .icon {
    text-align: center;
    padding-bottom: 1rem;
}

.focus-container .h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    font-family: montserrat;
}

.focus-container p {
    font-size: 22px;
}
.focus-container:hover {
    background-color: rgba(76, 70, 70, 0.362); 
    cursor: pointer;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-7px); }
  }
  
  /* Apply the bouncing animation and color fade on hover */
  .focus-container .icon:hover {
    animation: bounce 0.5s ease infinite alternate;
    transition: background-color 0.5s ease;/* Faded color */
  }

.icon svg {
    width: 80px;
}

.location {
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 7rem;
}
.location h1 {
    font-weight: 700;
    line-height: 37px;
    font-size: 23px;
}
.location span.color {
    font-weight: 700;
    line-height: 37px;
    font-size: 23px;
    color: brown;
}
.location span.color:hover {
    color: rgb(145, 98, 98);
    cursor: pointer;
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* CSS rules for large devices (desktops) */
 .focus {
    gap: 1rem;
 }
}

@media (min-width: 768px) and (max-width: 992px) {
    /* CSS rules for medium devices (laptops) */
    .focus {
        display: grid;
    }
}

@media (max-width: 767px) { 
    /* CSS rules for extra small devices (phones) */
    .focus {
        display: grid;
        margin:  0;
    }
    .location {
        margin-top: 4rem;
    }
    .icon svg {
        width: 50px;
    }
    .focus-container {
        margin: 0 25px;
    }
    .focus-container p {
        font-size: 18px;
    }
    .location h1 {
        font-size: 17px;
    }
    .location h1 span.color {
        font-size: 14px;
    }
}
