.hero-container {
    background: url('../../../images/pexels-mikhail-nilov-8923375.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 47%);
    object-fit: contain;
    justify-content: center;
    z-index: auto;
}

.hero-container .content {
    text-align: center;
}

.educate, .empower {
    font-weight: 400;
    font-size: 53px;
    color: #fff;
    font-family: sans-serif;
}
.inspire {
    font-weight: 400;
    font-size: 50px;
    font-style: italic;
    color: #fff;
    font-family: cursive;
}
.svgBrushIcon {
    width: 314px;
    height: 17px;
    margin: 0 !important;
    top: 98px;
    left: 270.5px;
    overflow: hidden;
    flex-shrink: 0;
}
.encouragingYoungGirlsContainer {
    margin: 14px 0 20px 0;
}
.encouragingYoungGirlsContainer1 {
    width: 876px;
    position: relative;
    font-weight: 500;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.encouragingYoungGirlsContainer1 p {
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 38px;
    font-family: poppins;
    color: white;
}
.buttons {
    margin-top: 10px;
    display: flex;
    gap: 39px;
}
.hero-donate {
    cursor: pointer;
    border: 1px solid var(--color-gray-300);
    background: radial-gradient(50% 50% at 50% 50%, rgba(84, 171, 177, 0), rgba(84, 171, 177, 0.41) 34.38%, rgba(133, 238, 179, 0.71) 51.52%, rgba(84, 171, 177, 0)), #53aab0;
    padding: 19px 44px;
    border-radius: 27px;
    color: white;
    font-size: medium;
    font-family: 'Poppins';
}
.learn-btn {
    color: white;
    border: 2px solid white;
    padding: 14px 37px;
    border-radius: 28px;
    font-size: medium;
    font-family: 'Poppins';
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.learn-btn:hover {
    cursor: pointer;
    background: rgba(21, 21, 21, 0.7);
}





.hero-container .content>h1 {
    font-family: poppins;
    font-weight: 600;
    line-height: 53px;
    font-size: 46px;
    color: rgb(255, 255, 255);
}

.hero-container .content>h1 {
    font-family: poppins;
    font-weight: 600;
    line-height: 35px;
    font-size: 36px;
    padding: 0 10rem;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}

/* modal space */
/* ////////////////// */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    width: 65%;
}
.modal-content .text {
    width: 50%;
}
.pop_image {
    position: relative;
    /* display: flex; */
    justify-content: end;
    align-items: center;
}
.pop_image img {
    width: 25rem;
}

.close-button {
    position: relative;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 12px;
    margin-bottom: 10px;
}

.modal-open {
    overflow: hidden;
  }
  


@media (max-width: 1000px) {
    .pop_image img {
        width: 15rem;
    }
}

@media (max-width: 700px) {
    .modal-content {
        background-color: white;
        padding: 15px;
        border-radius: 5px;
        display: grid;
        /* gap: 10px; */
        width: 90%;
    }
    .modal-content .text {
        width: 100%;
    }
    .pop_image {
        justify-content: center;
        align-items: center;
        display: flex;    
    }
    .pop_image img {
        width: 16rem;
    }
    .text p{
        line-height: 25px;
        font-size: 16px;
    }
    .text h2 {
        font-size: large;
    }
    .cta_popup {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cta_popup button {
        font-weight: 500;
    font-size: 14px;
    }
}


@media (max-width: 767px) {

    /* CSS rules for extra small devices (phones) */
    .hero-container .content>h1 {
        font-size: 25px;
        line-height: normal;
        padding: 0;
    }

    .hero-container .content>p {
        font-size: 31px;
    }
}

@media (max-width: 590px) {
    .hero-container {
        text-align: center;
        padding-top: 40%;
    }
    .buttons {
        display: grid;
        gap: 8px;
        margin: 0;
    }
    .educate, .empower {
        font-size: 35px;
    }
    .svgBrushIcon {
        width: 162px;
    }
    .encouragingYoungGirlsContainer1 p {
        font-size: 21px;
        line-height: 27px; 
    }
    .hero-donate {
        padding: 14px 44px;
    }
    .inspire {
        font-size: 30px;
    }
}