.gradient {}

.home-content-section {
    padding-top: 4rem;
}

.section-head {
    text-align: center;
    margin: 3rem;
    max-width: 55rem;
    margin: 0 auto;
    margin-top: 4rem;
}

.section-head h1 {
    font-size: 42px;
    line-height: 42px;
    font-weight: 900;
    font-family: roboto;
}

.section-head p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.destination .intro {
    margin: 30px 60px;
}

.destination .intro h2 {
    font-family: poppins;
    font-size: 28px;
    font-weight: 600;
    text-align: start;
    margin: 3rem 0 2rem 0;
    max-width: 61%;
}

.destination .intro h5 {
    font-weight: 400;
    font-size: 27px;
    color: black;
    font-family: poppins;
    max-width: 65%;
    margin: 60px 0;
    text-align: left;
}

.stand-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learn-more {
    color: white;
    background: #101010;
    display: flex;
    gap: 10px;
    padding: 15px 22px;
    border-radius: 39px;
    margin-right: 36px;
}

.learn-more:hover {
    cursor: pointer;
    color: #3f393988;
}

/* end about */

.our-belive-youtube {
    display: flex;
    background: linear-gradient(180deg, #eaeffd 54%, #f9fbff 93.5%);
    padding: 100px 40px;
    justify-content: space-around;
    align-items: center;
}

.belive-content {
    max-width: 35%;
    padding: 10px;
}

.belive-heading {
    font-size: 26px;
    line-height: 36px;
    font-family: 'Poppins';
    font-weight: normal;
    margin-bottom: 10px;
}

.belive-content p {
    font-size: 18px;
    line-height: 25px;
    color: black;
    font-weight: 400;
    margin-bottom: 40px;
}

.belive-cta {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.belive-cta .action-1 {
    color: white;
    background: black;
    padding: 15px 35px;
    border-radius: 29px;
    font-family: 'Montserrat';
}

.belive-cta .action-1:hover {
    cursor: pointer;
    background: rgb(20, 20, 20);
    color: #4b4949;
}

.belive-cta .action-2:hover {
    cursor: pointer;
    color: #4b4949;
}

.belive-cta .action-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.youtube-link iframe {
    height: 330px;
    width: 560px;
    border-radius: 3px;
}

/* start background */
.background {
    display: flex;
    background: white;
    gap: 1.5rem;
    padding: 9rem 4rem;
}

.background-text {
    max-width: 60%;
}

.background-text p {
    font-size: large;
    line-height: 30px;
    font-weight: 400;
}

.background-text .become-partner {
    color: white;
    background: black;
    padding: 15px 35px;
    border-radius: 40px;
    font-family: 'Montserrat';
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-top: 50px;
    font-weight: 500;
}

.become-partner:hover {
    cursor: pointer;
    color: #929497;
}

.background-img img {
    height: 21rem;
    width: 23rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    object-position: center;
}

.background-text h2 {
    color: var(#242424);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 33px;
    line-height: 33px;
    max-width: 60%;
}

.background-text p {
    margin: 0.5rem 0 1rem;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    max-width: 74%;
    line-height: 1.8rem;
}

.first-des {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
    padding-bottom: 6rem;
    max-width: 75rem;
    margin: 5rem auto;
    background: #186a7a4d;
    padding: 3rem;
}

.des-text {
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}

.des-text h2 {
    padding-bottom: 1rem;
}

.image {
    position: relative;
    width: 53%;
    display: flex;
    justify-content: space-between;
}

.image img {
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image img:nth-child(2) {
    position: absolute;
    top: -10%;
    right: 0;
}

.footer-links {
    padding-top: 2rem;
}

.footer-input {
    width: 100%;
}

.btn {
    width: 100%;
}

.footer-link-wrapper {
    flex-direction: column;
}

.social-media-wrap {
    flex-direction: column;
}

@media (min-width: 992px) and (max-width: 1200px) {

    /* CSS rules for large devices (desktops) */
    .about {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .destination .first-des .image {
        width: 70%;
    }
}

@media (min-width: 767px) and (max-width: 992px) {

    /* CSS rules for medium devices (laptops) */
    .about {
        display: flex;
        flex-direction: column;
    }

    .first-des {
        flex-direction: column-reverse;
    }

    .gradient {
        padding: 2rem 1rem 0 1rem;
    }

    .first-des .des-text,
    .first-des .image {
        width: 100%;
        text-align: center;
    }

    .destination .intro h2 {
        font-size: 25px;
        padding: 0;
        max-width: 80%;
        margin: 0;
    }

    .about-img img {
        height: 18rem;
        width: 24rem;
    }

    .about-text p {
        font-size: 21px;
    }

}

@media (max-width: 800px) {

    /* CSS rules for extra small devices (phones) */
    .our-belive-youtube {
        display: grid;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 30px 10px;
    }

    .belive-content {
        max-width: 100%;
        padding: 0;
    }

    .belive-cta {
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        display: grid;
        gap: 10px;
    }

    .youtube-link iframe {
        height: 309px;
        width: 100%;
    }

    .background-img {
        flex: 1 1 17rem;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .gradient {
        padding: 2rem 1rem 0 1rem;
    }

    .destination .intro {
        margin: 15px 0;
    }

    .destination .intro h2 {
        font-size: 19px;
        line-height: 33px;
        max-width: 100%;
        margin: 0;
        text-align: center;
    }

    .stand-container {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .destination .intro h5 {
        font-size: 20px;
        max-width: 100%;
        margin: 25px 0;
        text-align: center;
    }

    .learn-more {
        color: white;
        background: #101010;
        display: flex;
        gap: 10px;
        padding: 13px 13px;
        max-width: fit-content;
        margin: auto;
    }

    .destination .section-head {
        margin-top: 5rem;
    }

    .destination .section-head h1 {
        font-size: 36px;
        line-height: 32px;
        font-weight: 900;
        text-transform: uppercase;
    }

    .about {
        padding: 1rem 7px 7px 7px;
        display: flex;
        flex-direction: column;
    }

    .about-img {
        justify-content: center;
        display: flex;
    }

    .about-img img {
        height: 17rem;
        width: 19rem;
    }

    .about-text {
        width: 100%;
        text-align: center;
    }

    .about-text h2 {
        font-size: 1.2rem;
    }

    .about-text p {
        font-size: 18px;
        margin: 0.5rem 9px;
    }

    .first-des {
        flex-direction: column-reverse;
        padding: 0 10px 60px 10px;
    }

    .first-des .image {
        width: 100%;
        display: block;
    }

    .first-des .image img {
        width: 49%;
        height: 200px;
    }

    .des-text {
        width: 100%;
    }

    .des-text p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
    }

    .des-text h2 {
        font-size: 17px;
    }

    .background {
        padding: 2rem 27px;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .background-text {
        max-width: 100%;
    }

    .background-text h2 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 26px;
        line-height: 26px;
        max-width: 100%;
        margin-bottom: 6px;
    }

    .background-text p {
        max-width: 100%;
        font-size: 18px;
        line-height: 28px;
        text-align: left;
        margin: 0;
    }

    .background-text .become-partner {
        margin-top: 13px;
    }

    .background-img img {
        height: 11rem;
        width: 18rem;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        object-fit: cover;
        object-position: center;
    }

    .belive-heading {
        font-size: 20px;
        line-height: 27px;
    }

    .belive-cta .action-2 {
        margin: 10px 0;
    }
}