.quotes-img img {
    width: auto;
    height: 420px;
}

.quote-container {
    display: flex;
    margin: 90px 90px;
    gap: 90px;
}

.quote-text .text-1 {
    font-size: 32px;
    line-height: 46px;
    font-weight: 400;
    max-width: 90%;
    color: #4C4C4C;
}

.quote-text .name {
    margin-top: 24px;
    font-size: 25px;
    font-weight: 800;
    color: #537AE9;
}

.mentorship-coding {
    background: linear-gradient(45deg, #fafafa, #effcfa 50%, #eefcf5);
    padding: 70px 50px 30px 50px;
}
.coding-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.coding-content {
    max-width: 35%;
    padding: 10px;
    gap: 10px;
    display: grid;
}

.coding-content h3 {
    font-size: 26px;
    line-height: 36px;
    font-family: 'Poppins';
    font-weight: normal;
    margin-bottom: 10px;
}

.coding-content p {
    font-size: 18px;
}

.coding-content .donate-button {
    color: white;
    background: black;
    padding: 15px 35px;
    border-radius: 29px;
    font-family: 'Montserrat';
    max-width: fit-content;
    margin-top: 20px;
}
.donate-button:hover {
    cursor: pointer;
    color: rgba(70, 57, 57, 0.938);
}
.coding-img img {
    width: 410px;
}

.mentorship-container {
    display: flex;
    justify-content: space-around;
    margin: 70px 55px 20px 55px;
    background: black;
    color: white;
    padding: 80px 30px 80px 30px;
    border-radius: 12px;
}
.mentorship-text {
    max-width: 50%;
}
.mentorship-text .mentorship-cta {
    color: black;
    background: white;
    padding: 15px 35px;
    border-radius: 29px;
    font-family: 'Montserrat';
    max-width: fit-content;
    margin-top: 50px;
    font-weight: 500;
}
.mentorship-cta:hover {
    cursor: pointer;
    color: #4d3b3b75;
}
.mentorship-text p {
    font-size: 19px;
    line-height: 29px;
    font-family: 'Poppins';
    font-weight: normal;
    margin-bottom: 10px;
    max-width: 100%;
    color: white;
}
.mentorship-image img {
    width: 370px;
}

@media (min-width: 1210px) and (max-width: 1600px) {}


@media (min-width: 992px) and (max-width: 1200px) {
    /* CSS rules for large devices (desktops) */

}

@media (min-width: 767px) and (max-width: 1150px) {

    /* CSS rules for medium devices (laptops) */
    .quotes-img img {
        width: auto;
        height: 300px;
    }

    .quote-text .text-1 {
        font-size: 30px;
        line-height: 40px;
        max-width: 100%;
    }

    .quote-container {
        display: flex;
        margin: 65px 30px;
        gap: 80px;
    }
    .coding-img img {
        width: 333px;
    }
    .coding-content {
        max-width: 60%;
        padding: 5px;
        gap: 3px;
    }
    .mentorship-container {
        margin: 69px 0px 20px 0px;
        padding: 49px 0px 60px 0px;
        border-radius: 8px;
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .mentorship-text {
        max-width: 100%;
        padding: 20px;
    }
    .mentorship-text .mentorship-cta {
        margin: auto;
        margin-top: 26px;
    }
    
}

@media (max-width: 767px) {

    /* CSS rules for extra small devices (phones) */
    .quote-container {
        display: grid;
        margin: 50px 19px;
        gap: 15px;
    }

    .quotes-img img {
        height: 250px;
    }

    .quote-text .text-1 {
        font-size: 19px;
        line-height: 30px;
    }

    .quote-text .name {
        margin-top: 11px;
        font-size: 16px;
    }
    .mentorship-coding {
        padding: 55px 10px 20px 10px;
    }
    .coding-container {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .coding-content {
        max-width: 100%;
        padding: 10px;
        gap: 0px;
        display: grid;
    }
    .coding-img, .mentorship-image {
        justify-content: center;
        display: flex;    
    }
    .coding-img img, .mentorship-image img {
        width: 278px;
    }
    .mentorship-container {
        display: grid;
        justify-content: center;
        margin: 31px 0px 20px 0px;
        background: black;
        color: white;
        padding: 53px 10px 53px 10px;
        border-radius: 12px;
    }
    .mentorship-text {
        max-width: 100%;
        margin-top: 15px;
        text-align: center;
    }
    .mentorship-text p {
        font-size: 16px;
        line-height: 25px;
    }
    .mentorship-text .mentorship-cta {
        margin: auto;
    }
}