.quotes{
    display: flex;
    margin: 3rem 0;
}

.quotes-text {
    background-color: #bed3e0;
    padding: 2rem;
    height: 32rem;
}

.quotes-text .quote {
    font-size: 34px;
    font-family: monospace;
    font-weight: 400;
    color: #363431;
    line-height: 35px;
}
.quotes-text .author {
    display: flex;
    margin: 2rem 0 0 0;
}
.author svg {
    width: 2rem;
    margin: 0;
}

.quotes-img img {
    height: 32rem;
    width: 38rem;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers .big-number {
    font-size: 90px;
    line-height: 100px;
    font-family: monospace;
    width: 70%;
    margin: 1rem 0;
}

.donate-line {
    display: flex;
    margin: 3rem 0;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.donate-line button {
    padding: 16px;
}
.donate-text {
    width: 29%;
}


@media (min-width: 992px) and (max-width: 1200px) {
    /* CSS rules for large devices (desktops) */
  .quotes {
    display: contents;
  }
  .quotes-text {
    background-color: transparent;
}
  .quotes-img img {
    height: 25rem;
  }
  .quotes-text {
    height: auto;
  }

  .numbers .big-number {
    font-size: 70px;
    line-height: 83px;
  }
  .donate-text {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
    /* CSS rules for medium devices (laptops) */
    .quotes {
        display: grid;
    }
    .quotes-text {
        background-color: transparent;
    }
    .quotes-img img {
        /* height: 25rem;
        width: 32rem; */

        height: 20rem;
        width: 28rem;
    }
    .donate-text {
        width: 65%;
    }
    .numbers .big-number {
        font-size: 55px;
        line-height: 57px;
      }
      .quote {
        font-size: 29px;
        line-height: 33px;
      }
}

@media (max-width: 576px) { 
    /* CSS rules for extra small devices (phones) */
    .quotes{
        display: grid;
        padding: 10px 15px 0 15px;
        background-color: beige;
    }
    .quotes-text .quote {
        font-size: 16px;
        line-height: 25px;
    }
    .quotes-text .author p {
        font-size: 15px;
    }
    .quotes-img img {
        height: 17rem;
        width: 18rem;    
    }
    .quotes-text {
        background-color: transparent;
        padding: 0;
        height: auto; 
    }
    .numbers {
        padding: 0 15px;
    }
    .numbers .big-number {
        font-size: 34px;
        width: 100%;
        line-height: 34px;
        margin: 0 0 1rem 0;
    }
    .donate-line {
        display: inline;
    }
    .donate-text {
        width: 100%;
        padding: 0 15px;
    }
}

