video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    /* background: url('../../images/image1.jpg') center center/cover no-repeat ; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    justify-content: center;
    z-index: auto;
}

.hero-container .content {
    text-align: center;
}

.hero-container .content > h1 {
    font-size: 60px;
    font-weight: revert;
    color: white;
}

.hero-container .content > p {
    font-size: xx-large;
    font-weight: bold;
    color: white;
    max-width: 18cm;
    text-align: center;
}


@media (max-width: 576px) { 
    /* CSS rules for extra small devices (phones) */ 
    .hero-container .content > h1 {
        font-size: 22px;
    }
    .hero-container .content > p {
        font-size: 18px;
    } 
}