/* .destination {
    padding: 4rem 8rem;
    background: url(../images/block-bg-1.jpg);
    background-image: linear-gradient(90deg, #d7f9f4, #fff9e2, #fff3e8, #e5f8ff, #d7f9f4);
} */

.gradient {
    padding: 4rem 1rem 0 1rem;
    background: url(../images/block-bg-1.jpg);
    background-image: linear-gradient(90deg, #d7f9f4, #fff9e2, #fff3e8, #e5f8ff, #d7f9f4);
    background-image: conic-gradient(from 45deg, #d7f9f4, #fff9e2, #fff3e8, #e5f8ff, #d7f9f4);
}
.home-content-section {
    background-image: linear-gradient(90deg, #d7f9f4, #fff9e2, #fff3e8, #e5f8ff, #d7f9f4);
}

.section-head {
    text-align: center;
    margin: 3rem;
    max-width: 55rem;
    margin: 0 auto;
}

.destination .intro {
    text-align: center;
    max-width: 62rem;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.destination .intro h2 {
    font-size: 40px;
    text-align: center;
    padding: 0 8rem;

}

.destination .intro h5 {
    font-weight: 300;
    margin: 10px 0;
    font-size: 30px;
    color: #999;
}

/* mission */
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 2rem;
    padding: 3rem 0px;
    max-width: 76rem;
    margin: 0 auto;
}

.about-img img {
    border-radius: 0.5rem;
    height: 20rem;
    width: 30rem;
}

.about-text {
    width: 70%;
}

.about-text h2 {
    font-size: 36px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}

.about-text p {
    font-size: 25px;
    line-height: normal;
    margin: 1.5rem 0;
}

/* end about */

/* start background */
.background {
    display: flex;
    flex-wrap: wrap;
    background: #669a9ab3;
    gap: 1.5rem;
    padding: 4rem 10rem;
}

.background-img {
    flex: 1 1 17rem;
}

.background-img img {
    height: 22rem;
}

.background-text {
    flex: 1 1 17rem;
}

.background-text h2 {
    color: var(#242424);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
}

.background-text p {
    margin: 0.5rem 0 1rem;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    max-width: 74%;
    line-height: 1.8rem;
}

.first-des {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
    padding-bottom: 3rem;
    max-width: 75rem;
    margin: 3rem auto;
}

.des-text {
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}

.des-text h2 {
    padding-bottom: 1rem;
}

.image {
    position: relative;
    width: 53%;
    display: flex;
    justify-content: space-between;
}

.image img {
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image img:nth-child(2) {
    position: absolute;
    top: -10%;
    right: 0;
}

.footer-links {
    padding-top: 2rem;
}

.footer-input {
    width: 100%;
}

.btn {
    width: 100%;
}

.footer-link-wrapper {
    flex-direction: column;
}

.social-media-wrap {
    flex-direction: column;
}

@media (min-width: 992px) and (max-width: 1200px) {

    /* CSS rules for large devices (desktops) */
    .about {
        display: flex;
    }

    .destination .first-des .image {
        width: 70%;
    }
}

@media (min-width: 767px) and (max-width: 992px) {

    /* CSS rules for medium devices (laptops) */
    .first-des {
        flex-direction: column-reverse;
    }

    .first-des .des-text,
    .first-des .image {
        width: 100%;
    }

    .destination .intro h2 {
        font-size: 30px;
        padding: 0;
    }
    .about-img img {
        height: 18rem;
        width: 24rem;
    }
    .about-text p {
        font-size: 21px;
    }

}

@media (max-width: 767px) {

    /* CSS rules for extra small devices (phones) */

    .destination .intro h2 {
        font-size: 24px;
        line-height: 39px;
        font-weight: 700;
        color: rgb(60, 72, 88);
        padding: 0;
    }

    .destination .intro h5 {
        font-size: 22px;
    }

    .destination .section-head {
        margin: 0;
    }

    .destination .section-head h1 {
        font-size: 36px;
        line-height: 32px;
        font-weight: 900;
        text-transform: uppercase;    
    }

    .about {
        padding: 5rem 7px 7px 7px;
    }

    .about-img {
        justify-content: center;
        display: flex;
    }

    .about-img img {
        height: 17rem;
        width: 19rem;
    }

    .about-text {
        width: 100%;
        text-align: center;
    }

    .about-text h2 {
        font-size: 1.2rem;
    }

    .about-text p {
        font-size: 18px;
    }

    .first-des {
        flex-direction: column-reverse;
        padding: 0 10px 20px 10px;
    }

    .first-des .image {
        width: 100%;
        display: block;
    }

    .first-des .image img {
        width: 49%;
        height: 200px;
    }

    .des-text {
        width: 100%;
    }

    .des-text p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
    }

    .des-text h2 {
        font-size: 17px;
    }

    .background {
        padding: 2rem 27px;
    }

    /* .background-text h2 {
        font-weight: normal;
        font-size: 19px;
    } */

    .background-text p {
        max-width: 100%;
        font-size: 21px;
        text-align: left;
    }

    .background-img img {
        height: 11rem;
        width: 18rem;
    }
}