.navbar-menu-container.scroll {
    background: #111827;
    transition: background-color 2.3s ease;
}

.navbar-menu-container {
    display: flex;
    align-items: center;
    font-size: medium;
    justify-content: space-around;
    background: transparent;
    transition: background-color 2.3s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.donate_btn {
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--color-gray-300);
    background: #7c3aed;
    padding: 11px 19px;
}

.donate_btn:hover {
    cursor: pointer;
    color: #000;
}

.navbar-menu-container .logo h5 span.hidden-mobile.menu-text,
.navbar-menu-container .logo h5 span.hidden-mobile.close-text {
    font-size: 17px;
    font-weight: 900;
    color: white;
    font-family: poppins;
    cursor: pointer;
}

.logo {
    z-index: 50;
    padding: 1.25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-menu-container img {
    width: 10rem;
    cursor: pointer;
}

.links-container {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    gap: 10px;
}

.links-container li {
    padding-bottom: 12px;
    list-style: none !important;
}

.navbar-menu-container .navbar-link {
    padding-top: 1.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    padding-bottom: 1rem;
    font-family: poppins;
}

.dropdown-container {
    position: absolute;
    top: 45%;
    opacity: 0;
    display: none;
    animation-name: dropdownFadeIn;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    max-height: 0;
    overflow: hidden;
}

@keyframes dropdownFadeIn {
    from {
        opacity: 0;
        max-height: 0;
    }

    to {
        opacity: 1;
        max-height: 250px;
    }
}

.navbar-menu-heading:hover .dropdown-container {
    display: block;
}

.navbar-menu-container .logo h5 {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.mysublinks-head {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.dropdown-container-space {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.dropdown-container-top {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0.75rem;
    margin-top: 0.25rem;
    background: #fff;
    transform: rotate(45deg);
}

.dropdown-container-content {
    background: #fff;
    padding: 2.25rem;
    display: grid;
    border-radius: 10px;
    transition-duration: 0.6s;
}

.dropdownmenu-head {
    font-size: 0.875rem;
    font-weight: 600;
    color: #525c6e84;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.dropdownmenu-link:hover {
    color: black;
}

/* mobile screen  */
.mobile-menu {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 1rem;
    transition-duration: 0.6s;
    max-height: 100vh;
    overflow-y: auto;
}

.mobile-show {
    left: 0;
    background: #111827;
    padding-right: 1rem;
    padding-left: 1rem;
}

.line {
    border-top: 2px solid white;
    padding: 14px 0;
}

.mobile-close {
    left: -100%;
}

.mobile-button {
    color: white;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.mobile-button button {
    border: 1px solid #ffffff;
    padding: 9px 30px;
}

.mobile-button button:hover {
    color: white;
}

.mobilemenu-head {
    padding-left: 1.75rem;
    padding-right: 0;
    padding-right: 1.25rem;
    font-weight: 600;
    color: white;
    font-family: poppins;
}

.hide {
    display: none;
}

.mobilemenu-insidelink {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 3.5rem;
    font-weight: 600;
    color: white;
}

.navbar-menu-heading {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-align: left;
    cursor: pointer;
}

.navbar-menu-heading-text {
    font-family: poppins;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.25rem;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}

.arrowdown svg {
    width: 1rem;
    fill: white; /* Add this line */
}

@media (max-width: 768px) {
    .navbar-menu-container img {
        width: 8rem;
    }

    .links-container {
        display: flex;
    }

    .hidden {
        display: none;
    }

    .navbar-menu-heading:hover .dropdown-container {
        display: none;
    }

    .arrowdown {
        margin-top: 0.25rem;
        margin-left: 0.5rem;
        display: inline;
    }
}

@media (min-width: 768px) {
    .links-container {
        display: flex;
        gap: 3rem;
    }

    .hidden-mobile {
        display: none;
    }

    .logo {
        width: auto;
    }

    .navbar-menu-heading:hover .dropdown-container {
        display: block;
    }

    .arrowdown {
        display: none;
    }

    .navbar-menu-heading-text {
        padding-right: 0;
    }

    .line {
        border: none;
    }
}
