*{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

svg {
  width: -webkit-fill-available;
  margin: 2rem 0 5px 0;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

/* Resetting default styles for <ul> elements */
ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color:rgb(0, 48, 70) ;
  line-height: 34px;
}

.center {
  height: 90vh;
  align-items: center;
  justify-content: start;
}

/* button {
  padding: 5px 29px;
  margin: 10px;
} */

.btn-1 {
  padding: 0.5rem 1rem;
  background: transparent;
  color: black;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
  border-color: 3px solid #43d6b9;
  position: relative;
  z-index: 1;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 17px;
  line-height: normal;
}

.btn-1:hover {
  color: white;
  cursor: pointer;
}
.btn-1::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #008080;
}
.btn-1:hover:before{
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/* button:hover {
  cursor: pointer;
  color: burlywood;
} */