*{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, "Poppins";
  margin: 0;
  padding: 0;
}

svg {
  width: -webkit-fill-available;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: poppins;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.bold {
  font-size: 21px;
  font-weight: 700;
  color: rgb(13, 156, 144);
}

p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: rgb(255 255 255);
  line-height: 32px;
  font-family: poppins;
}

.center {
  height: 90vh;
  align-items: center;
  justify-content: start;
}

.btn-1 {
  font-family: poppins;
  padding: 0.5rem 1rem;
  background: transparent;
  color: black;
  border-radius: 20px;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
  border: 3px solid black;
  position: relative;
  z-index: 1;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 17px;
  line-height: normal;
}

.btn-1:hover {
  color: white;
  cursor: pointer;
}
.loader-container {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
