.mission,  .approach, .team{
    max-width: 58rem;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.mission .heading {
    margin: 7rem 2rem 3rem 2rem;
}

.mission .heading h4 {
    font-size: 27px;
    line-height: 38px;
    font-weight: 700;
    font-style: italic;
    font-family: montserrat;
}

.mission-container {
    min-height: 100%;
}

.mission-hero, .approach-hero, .team-hero {
    background-color: bisque;
    height: 40vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.mission-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mission .next-page {
    margin: 1rem;
    padding: 3px 36px;
}

.mission .next-page:hover {
    background-color: #e6e9e9;
}

.mission-content .flexed-content .under {
    color: rgb(60, 72, 88);
    padding-bottom: 15px;
}

span {
    font-weight: 900;
    font-size: 25px;
    color: #566565;
}

.mission-content-1 {
    padding: 2rem 0;
}

.mission-content-1 p {
    padding: 6px 0;
    padding: 6px 0;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    margin: 0;
    font-family: montserrat;
    font-style: normal;
}

.mission-content-1 h3 {
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    padding: 1rem;
}

.mission-content img {
    width: 300px;
    height: 20rem;
}

/* APPROACH COMPONENT */
.intro-image .image {
    width: 25rem;
    height: 22rem;
}
.intro-image {
    margin: 0;
}
.image-size {
    width: 19rem;
    height: 13rem;
}
.approach p {
    font-weight: 300;
    font-size: 21px;
    line-height: 30px;
}
.approach .heading h3 {
    font-weight: 800;
    font-size: 31px;
    line-height: 34px;
    font-style: italic;
    font-family: montserrat;
    color: #871a1ad9;
}
.approach .image-within-text {
    margin: 1.5rem 0;
}
.image-within-text h1 {
    font-weight: 700;
    font-size: 27px;
    line-height: 35px;
}
.image-within-text p {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
}
.programme p {
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}
.programme h2 {
    text-align: center;
    margin: 18px 0;
    font-weight: 700;
    font-size: 27px;
    line-height: 44px;
}


/* TEAM COMPONENT */
.team h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;
    color: #872222;
}
.team h3 {
    font-weight: 700;
    font-size: 34px;
    line-height: 52px;
    margin: 4rem 0;
    font-style: italic;
    font-family: montserrat;
}
.founders-container {
    margin-bottom: 2rem;
}
.founders-name h4 {
    font-size: 23px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}
.founders-content p {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
}
.founder-img {
    float: left;
    width: 18rem;
    height: 18rem;
    margin: 0 1.5rem 1rem 0;
}


@media (min-width: 992px) and (max-width: 1200px) {
    /* CSS rules for large devices (desktops) */

}

@media (min-width: 767px) and (max-width: 992px) {

    /* CSS rules for medium devices (laptops) */
    .mission {
        max-width: 45rem;
    }
    .team {
        padding: 0 10px;
    }

}

@media (min-width: 561px) and (max-width: 767px) {

    /* CSS rules for extra small devices (phones) */
    .mission-content {
        gap: 10px;
    }

    .mission-content img {
        width: 282px;
        height: 16rem;
    }
    .intro-image .image {
        width: 21rem;
        height: 16rem;
    }
    .approach {
        padding: 0 10px;
    }
    .team {
        padding: 0 10px;
    }
    .team h3 {
        font-weight: 600;
        font-size: 29px;
        line-height: 19px;
    }
    .founders-name h4 {
        font-size: 21px;
        line-height: 16px;
    }
    .founders-content p {
        font-size: 20px;
        line-height: 27px;
    }
}

@media (max-width: 560px) {
    .approach {
        padding: 0 8px;
    }
    .approach .heading h3 {
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
    }
    .mission-content {
        display: grid;
        padding: 0 10px;
    }

    .mission-content-1 p {
        padding: 6px 10px;
    }

    .mission p {
        padding: 8px 10px;
        font-size: 20px !important;
    }

    .mission-content img {
        width: 300px;
        height: 17rem;
    }

    .mission-content .first-image {
        align-items: center;
    justify-content: center;
    display: flex;
    }

    .mission .heading h4 {
        font-size: 20px;
    }
    .mission-content-1 h3 {
        font-size: 30px;
    }
    .flexed-content p span {
        font-size: 20px;
    }
    .about-svg {
        width: 3rem;
        margin: 0 auto;
    }
    .youtube {
        width: auto;
    }
    .intro-image .image {
        width: 19rem;
        height: 16rem;
    }
    .programme p {
        max-width: 100%;
        font-size: 21px;
        line-height: 28px;
    }
    .image-size {
        width: 100%;
        height: 15rem;
        border-radius: 4px;
        margin: 1rem 0;
    }
    .image-within-text p {
        font-size: 20px;
        line-height: 30px;
    }
    .team {
        padding: 0 8px;
    }
    .team h3 {
        font-weight: 600;
        font-size: 22px;
        line-height: 0px;
        margin: 3rem 0;
    }
    .founders-name h4 {
        font-size: 17px;
        line-height: 14px;
        margin-bottom: 9px;
    }
    .founders-content p {
        font-size: 20px;
        line-height: 27px;
    }
    .founder-img {
        width: 15rem;
        height: 15rem;
        margin: 0 1rem 1rem 0;
    }    
    .team h1 {
        font-size: 27px;
        margin-bottom: 0.5rem;
    }    
}