.volunteer-hero, .contact-hero, .sponsors-hero {
    background-color: bisque;
    height: 40vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.volunteer {
    max-width: 58rem;
    margin: 0 auto;
    display: grid;
    place-items: center;
}
.volunteer .h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    max-width: 90%;
    margin: 4rem 0 0 0;
}
.image-button .image img {
    width: 28rem;
    height: 20rem;
}
.image-button {
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.volunteer  h1 {
    font-size: 32px;
    line-height: 52px;
    margin: 4rem 0 0 0;
}
.volunteer p {
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
}
.volunteer-content-2 ul li {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    padding: 6px 0;
}
.event-buttons h4 {
    font-size: 22px;
    margin: 2rem 0;
}

.event-buttons p {
    margin: 0 0 3rem 0;
}

.event-buttons .buttons-container {
    display: flex;
    gap: 3rem;
    margin: 3rem 0;
}
.ending-content p{
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    font-family: math;
    padding: 10px 0;
}

@media (min-width: 700px) and (max-width: 950px) {
 .volunteer .h1 {
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    max-width: 83%;
 }
 .image-button .image img {
    width: 24rem;
    height: 18rem;
 }
 .image-button {
    gap: 1rem;
 }
 .volunteer h1 {
    font-size: 29px;
    line-height: 45px;
    margin: 3rem 0 0 0;
 }
 .volunteer p {
    font-size: 20px;
    line-height: 30px;
 }
 .volunteer-content-1, .volunteer-content-2, .event-buttons, .ending-content {
    margin: 0 1rem;
 }
 .volunteer-content-2 ul li span {
    font-size: 20px;
 }
}

@media (max-width: 699px) {
    .image-button {
        display: grid;
        gap: 1rem;
    }
    .volunteer .h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        max-width: 90%;
        margin: 2rem 0 0 0;
    }
    .image-button .image img {
        width: 22rem;
        height: 17rem;
    }
    .volunteer-content-1, .volunteer-content-2, .event-buttons, .ending-content {
        margin: 0 1rem;
     }
     .volunteer h1 {
        font-size: 29px;
        line-height: 38px;
    }
    .volunteer p {
        font-size: 20px;
        line-height: 28px;
    }
    .volunteer-content-2 ul li span {
        font-weight: 800;
        font-size: 20px;
        color: #566565;
    }
    .event-buttons h4 {
        font-size: 20px;
    }
    .event-buttons .buttons-container {
        display: grid;
        gap: 5px;
        margin: 3rem 0;
    }
    .volunteer p {
        font-size: 17px;
        line-height: 25px;
    }
}
